img {
    width: 200px;
    font-size: 6em;
    padding-top: 50px;
}
div {
    width: 200px;
    font-size: 2em;
    text-align: center;
    margin:auto;
    padding-top: 30px;
}
body {
    background-image: linear-gradient(white, gray);
    background-repeat: no-repeat;
}