#d1 {
    margin: auto;
    width: 700px;
    height: 500px;
    border: solid 2px blue;
    position: relative;
}
#d2 {
    width: 70px;
    height: 70px;
    border: solid 1px red;
    background: #00ffff;
    position: absolute;
    box-sizing: border-box;
}
#d3 {
    margin: auto;
    width: 350px;
    height: 100px;
    border: solid 1px blue;
    box-sizing: border-box;
    padding: 10px;
}
input {
    margin: 2px;
}